/* 
#352208
#E1BB80
#7B6B43
#685634
#806443 */

/* 全部 */

* {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #352208;
  font-size: 100%;
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto", sans-serif;
}

/* header */

header {
  height: auto;
  width: auto;
}

#head {
  background-color: #685634;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.icon_bar {
  background-color: #685634;
  height: 72px;
  text-align: center;
}

.icon_bar img {
  background-color: #685634;
  border-radius: 24px;
}

.icon_bar a {
  display: block;
  height: 0px;
  background-color: #685634;
  text-decoration: none;
}

.center_bar {
  width: 24rem;
  font-size: 3rem;
  background-color: #685634;
}

.center_bar h1 {
  text-align: center;
  color: #352208;
  background-color: #685634;
}

.head_bar {
  background-color: #685634;
}

.menu {
  height: 25px;
  margin-top: 22px;
  background-color: #e1bb80;
  list-style: none;
  display: flex;
  justify-content: space-around;
  border: solid #e1bb80;
  border-radius: 4px;
}

.menu li {
  padding-left: 8px;
  height: 25px;
  display: block;
  background-color: #e1bb80;
}

.menu li:last-child {
  padding-right: 8px;
}

.menu a {
  height: 25px;
  display: block;
  height: auto;
  font-size: 1.25rem;
  color: #352208;
  text-decoration: none;
  text-align: center;
  background-color: #e1bb80;
}

.menu a:hover {
  color: #e1bb80;
  background-color: #352208;
  scale: 1.15;
  border: solid 1px #7b6b43;
  border-radius: 6px;
}

/* content  */

.content {
  margin-top: 36px;
}

section {
  background-color: transparent;
}

/* side bar */

.sb {
  position: fixed;
  top: 112px;
  left: 4rem;
}

.side {
  text-align: center;
  margin-left: 24px;
  margin-top: auto;
  margin-bottom: auto;
  width: 200px;
  border: solid 8px #e1bb80;
  border-radius: 16px;
}

.sb-t {
  background-color: #e1bb80;
  font-size: 1.75rem;
  color: #352208;
}

.sb ul {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  background-color: #e1bb80;
}

.sb li {
  font-size: 1.2rem;
  color: #352208;
  background-color: #e1bb80;
}

.sb a {
  text-decoration: none;
  background-color: #e1bb80;
  color: #352208;
  font-weight: 600;
}

.sb-ul li:hover {
  scale: 1.1;
}

/* content accordian */

.accordion {
  width: 800px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.btn-ac {
  background-color: transparent;
}

.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-row: 24px 1fr 1fr;
  column-gap: 24px;
  row-gap: 32px;
  background-color: #e1bb80;
}

.number,
.text {
  font-size: 24px;
  background-color: #e1bb80;
  color: #7b6b43;
}

/* .number {
  color: #352208;
} */

.icon {
  width: 24px;
  height: 24px;
  stroke: #352208;
  background-color: transparent;
}

.hidden-box {
  grid-column: 2/3;
  display: none;
  color: #7b6b43;
  background-color: #e1bb80;
}

.hidden-box p {
  color: #7b6b43;
  line-height: 1.5;
  margin-bottom: 24px;
  background-color: #e1bb80;
}

.hidden-box ul {
  margin-left: 20px;
  color: #7b6b43;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #e1bb80;
}

.hidden-box li {
  background-color: #e1bb80;
}

.open {
  border-top: 8px solid #7b6b43;
}

.open {
  background-color: #e1bb80;
}

.open .hidden-box {
  display: block;
  color: #352208;
}

.open .number,
.open .text,
.open p {
  color: #352208;
}

/* content carousel */

.carousel {
  background-color: #e1bb80;
  margin: 100px auto;
  width: 800px;
  padding: 32px;
  padding-left: 86px;
  padding-right: 48px;
  color: #7b6b43;
  position: relative;
  border-radius: 16px;
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.25);

  /* flex */
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 86px;
}

.carousel img {
  height: 250px;
  transform: scale(1.5);
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.btn {
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 24px;
  border: none;
  top: 50%;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-l {
  left: 0;
  transform: translate(-50%, -50%);
}

.btn-r {
  right: 0;
  transform: translate(50%, -50%);
}

.btn-icon {
  background-color: transparent;
  stroke: #e1bb80;
  width: 32px;
  height: 32px;
}

.quote{
  background-color: #e1bb80;
  color: #352208;
}

.quote-text {
  background-color: #e1bb80;
  font-size: 18px;
  font-weight: 500px;
  line-height: 1.5;
  margin-bottom: 32px;
}

.quote-author {
  background-color: #e1bb80;
  font-size: 14px;
  margin-bottom: 8px;
}

.quote-job {
  background-color: #e1bb80;
  font-size: 12px;
}

.dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 360%);
  display: flex;
  justify-content: center;
  gap: 21px;
  align-items: center;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #352208;
  border: 2px solid #7b6b43;
  border-radius: 50%;
}


